Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: Kamil Podlesak <kamil.podlesak@lmc.eu>
Depends: dpkg (>= 1.8.3), java-runtime-headless | java-runtime
Description: ApplyAlter - database change management tool
